* {
  font-family: 'Kdam Thmor Pro', 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  margin: 0;
  padding: 0;
}

html {
  background-color: black;
}

body {
  min-height: 100vh;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  z-index: 1;
  background-image: url(../../assets/img/bg.png);
  background-size: cover;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.title>h1 {
  padding: 4rem 0 .5rem 0;
  color: whitesmoke;
  font-size: 3.75rem;
}

.title>h4 {
  font-weight: normal;
  color: orange;
}

input::placeholder {
  color: whitesmoke;
  text-align: center;
}

input:focus {
  outline: none;
}

input {
  color: whitesmoke;
  border-radius: .5rem;
  padding: 1.5rem .625rem;
  width: 17rem;
  font-size: large;
  background-color: transparent;
  margin: 4rem 0 2rem 0;
  border: whitesmoke solid 2px;
}

button:focus {
  outline: none;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: darkorange;
}

button {
  font-size: 2rem;
  border-radius: .5rem;
  border: whitesmoke solid 2px;
  color: whitesmoke;
  background-color: orange;
  padding: 1rem 1.25rem;
}

.leaderboard>h2 {
  font-weight: normal;
  color: whitesmoke;
}

.leaderboard>h4 {
  font-weight: normal;
  color: orange;
}

.leaderboard {

  margin-top: auto;
  margin-bottom: 1.25rem;
}

.menu,
canvas {
  height: inherit;
  width: inherit;
  grid-row: 1;
  grid-column: 1;
}

.dead {
  color: red;
}

.hidden {
  display: none;
}

main {
  width: 960px;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr;
}

.status>h1 {
  z-index: 2;
  margin-top: 6px;
  font-size: 18px;
  font-weight: normal;
}

.status::before {
  content: '';
  width: 100%;
  height: 35%;
  border-radius: 20px 20px 0 0;
  position: absolute;
  background-color: #f5bf41;
}

.status img {
  width: 50px;
  height: 50px;
}

.status {
  color: whitesmoke;
  display: flex;
  gap: 8px;
  position: absolute;
  flex-direction: column;
  align-items: center;
  border-radius: 20px;
  width: 12rem;
  height: 6.25rem;
  background-color: whitesmoke;
}

.one {
  right: 3.125rem;
  top: 3.125rem;
}

.two {
  right: 3.125rem;
  bottom: 3.125rem;
}

.three {
  left: 3.125rem;
  bottom: 3.125rem;
}

.four {
  left: 3.125rem;
  top: 3.125rem;
}